body {
    text-align: center;
    margin: 24px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    text-align: center;
}

main {
    width: 800px;
    margin: 72px auto 24px auto;
}

main p {
    margin-top: 12px;
}

/* This is NOT useful comment */
p {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: medium;
    text-align: center;
    padding: 1px 2px 3px 4px;    
}

a {
    color: brown;
    text-decoration: none;
    border: 1px dashed blue;
    display: block;
}

/* IF Mouse above the element */
a:hover {
    text-decoration: underline;
    color: aquamarine;
}

#test-paragraph {
    color: chocolate;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border: 1px solid red;
}

img {
    width: auto;
    height: 250px;
    border-radius: 5px;
    /* Will look as a card */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/* Style for every image within header */
header img {
    margin-top: 5px;
}

ol {
    /* No bullets or numbers will be to the left of item */
    list-style: none;
    width: 200px;
    margin: 20px auto 0 auto;
}

.sample-class {
    font-size: 21px;
}

/* I used this to change color of the part of text */
span {
    color: cornflowerblue;
}